* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
	letter-spacing: 1px;
	font-weight: 500;
}

html {
  scroll-behavior: smooth;
}

body{
	background: url(../images/background.jfif);
	background-repeat: repeat;
	
}
/*VH per page*/
.profile{
	height: 80vh;
}
.aboutMe{
	height: 100vh;
}
.capstone{
	height: 80vh;
}
.tech{
	height: 65vh;
}

.contact{
	height: 95vh;
}


a{
	text-decoration: none;
}


/* Profile start*/
.profile{
	display:flex;
	align-items: center;
	justify-content: center;
	
}

.profileList{
	
}

.profileList h1{
	text-align: center;
	padding: 20px 10px;
	margin: 10px;
	
	
}
.profileList p{

	text-align: center;
	margin-bottom: 100px;
}

.profileList a{
	text-decoration: none;
	color: black;
}

.profileList i{
	display:flex;
	align-items: center;
	justify-content: center;

	
}

/* Profile end*/




/* aboutMe start*/
.aboutMe{
	display:flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.aboutMe a{
	text-decoration: none;
}

.aboutMe h2 {
	padding-bottom: 10px;
}

.aboutMe h5{
	padding-bottom: 20px;
}

.tl-dr{
	display:flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	padding: 30px;

}

.tl-dr i{
	margin: auto;
	padding: 10px 10px;	
}
.tl-dr h5{
	margin: auto;
	padding: 5px 10px;	
}

/* aboutMe end*/




/* Capstone start*/
.capstone{
	display: block;
	text-align: center;
}
.capstoneRow{
	justify-content: center;

}

.capstoneList{
	border: 1px solid black;
	border-radius: 10px;
	border-width: 3px;
	margin: 25px;
	padding: 30px;
}

.capstoneList a{
	text-decoration: none
}


.capstoneList button{
	background-color: #292b2c;
	color: white;
}

.capstoneList button:hover{
	color: white
}



.secondRow{
	justify-content: center
}

.secondList{
	border: 1px solid black;
	border-radius: 10px;
	border-width: 3px;
	margin: 25px;
	padding: 30px;
}

.secondList a{
	text-decoration: none

}
.secondList button{
	background-color: #292b2c;
	color: white;
}

.secondList button:hover{
	color: white
}

/*Capstone end*/


/*tech-stack*/

.tech{
	margin-bottom: 50px;
}


.tech h1{
	text-align: center;
	margin-bottom: 50px;
}

.techRow{
	margin-left: 10px;
}


.tech1 img{
	width: 15%;
	padding: 10px;
	margin-right: 50px;
	margin-bottom: 15px;
}


/*Form start*/
.contact{

	border-radius: 10px;
	border-width: 3px;
	margin-bottom: 30px;
}

.contact h1{
	text-align: center;
	padding: 30px 0px;
	
}

.contactRow .contactmap{
	margin-top: 35px;
}

.contactList label{
	
	padding: 10px 5px;
}

.contactList input{

}
.contactList button{
	margin-top: 20px;
	background-color: #292b2c;
	color: white;
}

.iconRow{
	justify-content: center;
	margin-top: 25px;
}

.icons{
	padding: 10px 15px;

}
.icons a{
	text-decoration: none;
	color: black;
}

/*Form end*/



/*rocket*/
.rocketRow{
	display:flex;
	align-items: center;
	justify-content: center;
	margin: 15px 0px;
}





/* footer start*/
footer{
	text-align: center;
	background-color: #292b2c;
	color:white;
	padding: 5px;

}
/* footer end*/





/*media query*/


@media all  and (max-width: 320px){
	iframe{
		width: 90%;
		height: 150px;
	}
	.tech1 img{
	width: 30%;
	
	}

}

@media all  and (max-width: 375px){
	iframe{
		width: 100%;
		height: 225px;
	}
	.tech1 img{
	width: 25%;
	
}

	
}

@media all  and (max-width: 425px){
	iframe{
		width: 100%;
		height: 225px;
	}
}


@media screen  and (max-width: 768px){
	iframe{
		width: 100%;
		height: 245px
	}
}


@media all  and (max-width: 1024px){
	iframe{
		width: 100%;
		height: 245px;
	}
	
}



